<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/products.css">
    <title>Eventos creados</title>
</head>
<body>
    <div class="products-header">
        <h1>Eventos creados</h1>
    </div>

    <div class="products-container" id="products-container"></div>

    <div id="pagination"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        let currentPage = 1;

        socket.emit('getProducts', currentPage);

        socket.on('productList', (data) => {
            const container = document.getElementById('products-container');
            container.innerHTML = '';

            data.forEach(product => {
                const productCard = document.createElement('div');
                productCard.classList.add('product-card');
                productCard.innerHTML = `
                    <h2>${product.title}</h2>
                    <p>${product.category || 'Descripción no disponible'}</p>
                    <p>Precio: $${product.price}</p>
                    <button onclick="deleteProduct('${product._id}')">Eliminar</button>
                `;
                container.appendChild(productCard);
            });

            const pagination = document.getElementById('pagination');
            pagination.innerHTML = '';

            if (data.prevPage) {
                const prevLink = document.createElement('a');
                prevLink.href = "#";
                prevLink.innerHTML = 'Anterior';
                prevLink.onclick = () => changePage(data.prevPage);
                pagination.appendChild(prevLink);
            }

            if (data.nextPage) {
                const nextLink = document.createElement('a');
                nextLink.href = "#";
                nextLink.innerHTML = 'Siguiente';
                nextLink.onclick = () => changePage(data.nextPage);
                pagination.appendChild(nextLink);
            }
        });

        function deleteProduct(id) {
            socket.emit('deleteProduct', id);
        }

        function changePage(page) {
            currentPage = page;
            socket.emit('getProducts', currentPage);
        }
    </script>
</body>
</html>
