<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/products.css">
    <title>Productos</title>
</head>
<body>
    <div class="products-header">
        <h1>Productos</h1>
    </div>
    
    <div class="products-container" id="products-container">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        socket.emit('getProducts');

        socket.on('productList', products => {
            const container = document.getElementById('products-container');
            container.innerHTML = '';

            products.forEach(product => {
                const productCard = document.createElement('div');
                productCard.classList.add('product-card');
                productCard.innerHTML = `
                    <h2>${product.title}</h2>
                    <p>${product.description}</p>
                    <p>Precio: $${product.price}</p>
                    <button onclick="deleteProduct(${product.id})">Eliminar</button>
                `;
                container.appendChild(productCard);
            });
        });

        function deleteProduct(id) {
            socket.emit('deleteProduct', id);
        }
    </script>
</body>
</html>