<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/products.css">
    <title>Eventos creados</title>
</head>
<body>
    <div class="products-header">
        <h1>Eventos creados</h1>
    </div>

    <div class="filter-container">
        <select id="category-filter">
            <option value="">Filtrar por categoría</option>
            <option value="Adulto Mayor">Adulto Mayor</option>
            <option value="Cultural">Cultural</option>
            <option value="Encuentros">Encuentros</option>
            <option value="Fiestas">Fiestas</option>
            <option value="Gastronómicos">Gastronómicos</option>
            <option value="Gratuitos">Gratuitos</option>
            <option value="Infantil">Infantil</option>
            <option value="Turismo">Turismo</option>
            <option value="">Todas</option>
        </select>

        <select id="availability-filter">
            <option value="">Mostrar todos</option>
            <option value="available">Disponibles</option>
        </select>

        <select id="sort-filter">
            <option value="">Ordenar por precio</option>
            <option value="asc">Menor a Mayor</option>
            <option value="desc">Mayor a menor</option>
        </select>

        <button id="filter-button">Aplicar Filtros</button>
    </div>

    <div class="products-container" id="products-container"></div>

    <!-- Contenedor para la paginación -->
    <div id="pagination"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        let currentPage = 1;


        socket.emit('getProducts', currentPage);

        socket.on('productList', (data) => {
            const container = document.getElementById('products-container');
            container.innerHTML = '';

            data.products.forEach(product => {
                const productCard = document.createElement('div');
                productCard.classList.add('product-card');
                productCard.innerHTML = `
                    <h2>${product.title}</h2>
                    <p>${product.category || 'Descripción no disponible'}</p>
                    <p>Precio: $${product.price}</p>
                    <button onclick="deleteProduct('${product._id}')">Eliminar</button>
                `;
                container.appendChild(productCard);
            });

            // Mostrar la paginación
            const pagination = document.getElementById('pagination');
            pagination.innerHTML = '';

            if (data.prevPage) {
                const prevLink = document.createElement('a');
                prevLink.href = "#";
                prevLink.innerHTML = 'Anterior';
                prevLink.onclick = () => changePage(data.prevPage);
                pagination.appendChild(prevLink);
            }

            if (data.nextPage) {
                const nextLink = document.createElement('a');
                nextLink.href = "#";
                nextLink.innerHTML = 'Siguiente';
                nextLink.onclick = () => changePage(data.nextPage);
                pagination.appendChild(nextLink);
            }
        });

        document.getElementById('filter-button').addEventListener('click', () => {
            const category = document.getElementById('category-filter').value;
            const available = document.getElementById('availability-filter').value;
            const sort = document.getElementById('sort-filter').value;

            socket.emit('getFilteredProducts', { category, available, sort, page: currentPage });
        });

        function deleteProduct(id) {
            socket.emit('deleteProduct', id);
        }

        function changePage(page) {
            currentPage = page;
            socket.emit('getProducts', currentPage);
        }

        socket.on('eventList', events => {
            const container = document.getElementById('products-container');
            container.innerHTML = '';

            events.forEach(event => {
                const eventCard = document.createElement('div');
                eventCard.classList.add('product-card');
                eventCard.innerHTML = `
                    <h2>${event.title}</h2>
                    <p>${event.category || 'Descripción no disponible'}</p>
                    <p>Precio: $${event.price}</p>
                    <button onclick="deleteProduct('${event._id}')">Eliminar</button>
                `;
                container.appendChild(eventCard);
            });
        });
    </script>
</body>
</html>
