<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/products.css">
    <title>Crear Evento</title>
</head>
<body>
    <h1>Crea tu popio evento</h1>
    <div class="form-card"> 
        <form id="product-form">
            <input type="text" id="title" placeholder="Nombre" required>
            <input type="number" id="price" placeholder="Costo" required>
            <input type="number" id="stock" placeholder="Stock" required>
            <input type="text" id="category" placeholder="Categoría" required>
            <button type="submit">Agregar</button>
        </form>
    </div>

    <h2>Evento</h2>
    <ul id="product-list"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        document.getElementById('product-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const product = {
                title: document.getElementById('title').value,
                description: document.getElementById('description').value,
                code: document.getElementById('code').value,
                price: document.getElementById('price').value,
                stock: document.getElementById('stock').value,
                category: document.getElementById('category').value,
            };
            socket.emit('addProduct', product);
            this.reset();
        });

        socket.on('productList', products => {
            const productList = document.getElementById('product-list');
            productList.innerHTML = ''; 

            products.forEach(product => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `
                    ${product.title} - $${product.price}
                    <button onclick="deleteProduct(${product.id})">Eliminar</button>
                `;
                productList.appendChild(listItem);
            });
        });

        function deleteProduct(id) {
            socket.emit('deleteProduct', id);
        }
    </script>
</body>
</html>
