<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <h1>TRIMAKER</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2024 Trimaker</p>
    </footer>
</body>
</html>
